*.iml
*.class
*.DS_Store
.DS_Store
*.idea
MyQuizGame/quiz/target
MyQuizGame/restAPI/target
MyQuizGame/GameAPI/target
MyQuizGame/QuizAPI/target
MyQuizGame/QuizSOAP/target
MyQuizGame/report/target
WorkshopREST/target
WorkshopREST/.idea
WorkshopREST/*.idea
